
.tower-nav{
  display: none;
  justify-content: space-around;
  padding: 10px 0 0;
  background-color: #1F77D0;
  text-align: center;
}

.tower-nav div{
  display: inline;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.tower-nav div:hover{
  background: rgba(255, 255, 255, 0.23);
}

.tower-a{
  display: inline-block;
  color: white;
}

.alert {
  padding: 20px 30px;
}

.tower-a:hover{
  color: white;
}

.tower-nav p{
  margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width: 991px) {
  .tower-nav{
    display: flex;
  }
}

.full-message {
  z-index: 999;
  position: fixed;
  background: rgba(0,0,0,0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  color: #fff;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.rotate {
  -webkit-animation: spin 1s infinite linear;
  font-size: 4em;
}

/*=========================*/


.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 5px;
}


.grid-sizer, .grid-item {
  box-sizing: border-box;
  width: 45%;
  margin: 2%;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.9;
}

.pointer:active {
  position: relative;
  top: 1px;
}

.sidebar:after, body > .navbar-collapse:after {
  background: #1E8FE1;
}
