.full-message {
  z-index: 999;
  position: fixed;
  background: rgba(0,0,0,0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  color: #fff;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.rotate {
  -webkit-animation: spin 1s infinite linear;
  font-size: 4em;
}
