<% content_for :title do %>Migrations<% end %>
<div class="">
  <% if flash[:notice] %>
    <div class="">
      <span><%= flash[:notice] %></span>
    </div>
  <% end %>
  <div class="flex flex-col gap-3">
    <div class="">
      <% if @migrations.select {|i| i['status'] == :todo}.any? %>
        <%= form_tag actions_path, class: "" do %>
          <button name="cmd" type="submit" value="rails db:migrate" class="px-3 py-1 rounded-md bg-green-800 text-localtower-100 border border-green-700 outline-none hover:border-green-500 hover:bg-green-700 hover:text-white active:opacity-60 transition-colors text-xs inline-flex items-center">
            <code>bundle exec rails db:migrate</code>
          </button>
        <% end %>
      <% end %>
    </div>
    <div class="">
      <% if @migrations.any? %>
        <% @migrations.each do |entry| %>
          <%= render partial: 'localtower/migration', locals: { entry: entry } %>
        <% end %>
      <% else %>
        <div class="">
          <span>No migrations found</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
