<% content_for :title do %>New Model<% end %>
<div>
  <%= form_tag models_path, class: "" do %>
    <div class="flex flex-col gap-2">
      <div class="block text-localtower-100">Model name <span class="text-localtower-400">(required)</span></div>
      <div class="w-80">
        <input autocomplete="off" type="text" data-selector="modelName" name="model[model_name]" class="px-2 py-1.5 rounded bg-localtower-600 border border-localtower-500 inline-block w-full outline-none focus:border-localtower-400 transition-colors text-localtower-100 placeholder:italic placeholder:text-localtower-450 focus:placeholder:text-localtower-600" placeholder="Ex: User" required>
      </div>
      <input type="hidden" id="form_attributes" name="model[attributes]">
    </div>
    <div class="py-4 flex flex-col gap-2">
      <label class="block text-localtower-100">Columns</label>
      <div id="react-container-new-model"></div>
    </div>
    <div>
      <button type="submit" value="true" class="px-3 py-1.5 rounded-md bg-green-800 text-localtower-100 border border-green-700 inline-block outline-none hover:border-green-500 hover:bg-green-700 hover:text-white active:opacity-60 transition-colors text-md">
        Generate Model
      </button>
    </div>
  <% end %>
</div>
