<% content_for :title do %>Relations<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title"></h4>
      </div>

      <div class="content">

        <%= form_tag relations_path, class: "form" do %>
        <div class="row">
          <div class="form-group">
            <div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-6">
              <div class="form-group">
                <div class="text-center">
                  <label>Name of the Model (optional)</label>
                </div>
                <input type="text" name="relations[model_name]" class="form-control">
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-5 col-sm-5">
              <label>Model 1:</label>

              <%= select("relations", "model_one_name", ::Localtower::Tools.models.collect {|p| [ p, p ] }, {include_blank: false}, class: "form-control") %>
            </div>

            <div class="col-md-2 col-sm-2">
              <div class="text-center">
                <br>
                <i class="pe-7s-loop" style="font-size: 3em;"></i>
              </div>
            </div>

            <div class="col-md-5 col-sm-5">
              <label>Model 2:</label>
              <%= select("relations", "model_two_name", ::Localtower::Tools.models.collect {|p| [ p, p ] }, {include_blank: false}, class: "form-control") %>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12 text-center">
            <button name="relations[run_migrate]" type="submit" value="true" class="btn btn-success" data-selector="submit">
            Create the relation and <b>migrate</b>
            </button>
          </div>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
