<% content_for :title do %>Tasks<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title"></h4>
      </div>
      <div class="content">

        <%= form_tag tasks_path, class: "form" do %>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <div class="form-group">
                <table class="table table-hover table-striped">
                  <thead>
                    <th>Task</th>
                    <th></th>
                  </thead>

                  <tbody data-selector="tbody">
                      <% ['rake db:migrate RAILS_ENV=test'].each do |task_str| %>
                      <tr data-selector="tr">
                        <td>
                          <code>
                            <%=task_str%>
                          </code>
                          <input type="hidden" name="task[name]" value="<%=task_str%>" class="form-control">
                        </td>
                        <td>
                          <button name="" type="submit" class="btn btn-success" data-selector="submit">
                          RUN
                          </button>
                        </td>
                      </tr>
                      <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
