<% content_for :title do %>Tasks<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title"></h4>
      </div>

      <div class="content">
        <table class="table">
Tasks
        </table>
      </div>
    </div>
  </div>
</div>
